body {
    background-color: rgba(89, 180, 255, 0.781);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: aliceblue;
}

section {
    border-radius: 10px;
    background-color: aliceblue;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer {
    margin: auto;
    text-align: center;
    font-style: italic;
    color: aliceblue;
    font-size: small;
}
